body {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  background-image: linear-gradient(
    156.52deg,
    #1d283f -15.02%,
    #1d1627 46.89%,
    #060807 105.04%
  );
  color: rgb(224, 222, 222);
  font-family: sans-serif;
}

html {
  background-color: #1d1627;
}

h1 {
  font-size: 18px;
  margin: 0;
}

span {
  font-size: 14px;
  font-weight: bold;
}

.AlbumIcon {
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
  mask-image: linear-gradient(to top, transparent 5%, black 100%);
}

.AlbumTitle {
  margin-bottom: 20px;
  -webkit-mask-image: linear-gradient(to top, transparent -115%, black 80%);
  mask-image: linear-gradient(to top, transparent -115%, black 80%);
}
