body {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  background-image: linear-gradient(
    156.52deg,
    #1d283f -15.02%,
    #1d1627 46.89%,
    #060807 105.04%
  );
  color: #e0dede;
  font-family: sans-serif;
  padding-bottom: 50px;
}

html {
  background-color: #1d1627;
}

h1 {
  font-size: 18px;
  margin: 0;
}

span {
  font-size: 14px;
  font-weight: bold;
}

.AlbumIcon {
  height: 320px;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
  mask-image: linear-gradient(to top, transparent 5%, black 100%);
}

.AlbumTitle {
  margin-bottom: 30px;
  -webkit-mask-image: linear-gradient(to top, transparent -115%, black 80%);
  mask-image: linear-gradient(to top, transparent -115%, black 80%);
}

.AlbumControlledButtons {
  position: absolute;
  left: 20px;
  top: 220px;
}

.albumList {
  margin: 0 15px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.albumWrapper {
  animation: anim 1s;
}
@keyframes anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.controlBar {
  background-color: #060412f0;
  height: 52px;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.controlBarStatus {
  height: 7px;
  background-color: #9c74e3;
}
